.blogHeader{
    background-image: url(../assets/blog-header.jpg);
    height: 460px;
    .blogHeaderContents{
        display: flex;
        justify-content: flex-end;
        padding-right: 36.5vw;
        align-items: flex-end;
        margin-top: 73px;
        h1{
            font-size: 6.3rem;
            padding-top: 0;
            text-align: center;
            padding-bottom: 0;
            margin-bottom: 0;
        }
    }
}
