main{
    position: relative;
}

.blogMainContainer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    img{
        width: 100%;
    }
    .sidebar{
        flex: 0 1 29%;
        height: max-content;
        background-color: $spruce;
        margin-top: 105px;
        padding-top: 345px;
        img{
            position: absolute;
            left: 0;
            top: 90px ;
            width: 32%;
        }
    }
    .featureContents{
        flex: 0 1 62%;
    }
}

// .greenBG{
//     background-color: $spruce;
//     padding-top: 356px;
//     position: absolute;
//     z-index: -1;
//     top: 15px;
//     left: 17%;
// }


.sidebarText{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.sidebarTop{
    padding-bottom: 20px;
}
.sidebarTop,
.sidebarBottom{
    // border: orange 1px solid;
    ul{
        list-style-position: inside;
    }
}

.featureContentText{
    border-left: 3px solid $robinBlue;
    border-bottom: 3px solid $robinBlue;
}