// Header section formatting specific to blog page
.blogHeader{
    background-image: url(../assets/blog-header.jpg);
    height: 460px;
    .blogHeaderContents{
        display: flex;
        justify-content: flex-end;
        // padding-right: 38vw;
        // align-items: flex-end;
        margin-top: 83px; 
        // border: 1px solid pink;
        // div{
        //     flex: 0 1 29%;
            // border: 1px solid yellow;
        //     height: 100px;
        // }
        h1{
            flex: 1 1 65.5%;
            margin-right: 91px;
            // border: 1px solid white;
        }
    }
}

// Formatting for H1 
h1{
    font-size: 6.3rem;
    padding-top: 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}